.air-pollution-value {
  font-size: 2em;
}

.air-pollution-icon img {
  width: 20%;
  height: 20%;
}

.air-pollution {
  margin: 1em 2.5em 0 2.5em;
  border: 1px solid lightgrey;
  padding: 0.5em;
  text-align: center;
}

#air-pollution-info {
  width: 25%;
}

.air-pollution > span {
  font-size: 10px;
}
