body{ font-family: 'NanumSquare', sans-serif }

h2{
    font-size: 17px;
    color: #3b3b3b;
    font-weight: bold;
    margin-bottom: 20px;
}

.clothes{
    width: 100%;
    height: 260px;
    margin-bottom: 10px; /* 요소 사이의 간격 추가 */
}
.clothessection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* 요소 사이의 간격 추가 */
    padding-top: 1%;
    padding-bottom: 1%;
}

.clothes_icon{
    height: 180px;
    width: 300px;
    border: 2px solid #e0e0e0;
    margin-right: 30px;
    margin-left: 10px;
}
.clothes_icon > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clothes_bubble {
    height: 180px;
    width: 900px;
	position: relative;
	background: #eeeeee;
	border-radius: .4em;
    margin-right: 20px;
}

.clothes_bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-right-color: #eeeeee;
	border-left: 0;
	margin-top: -25px;
	margin-left: -25px;
}
.clothes_text{
    padding: 30px 20px;
    text-align: left; 
    overflow: hidden;
}
.clothes_t1{font-size: 15px;  margin-bottom: 5px; font-weight: bold;}
.clothes_phrase{
font-size: 30px;
font-weight: bold;
margin-bottom: 20px;
}
.clothes_t2{
    font-size: 17px;
}

@media (max-width: 767px) {
    .clothes{
        height: 95%;
    }
    .clothes_icon{display: none;}
.clothes_bubble {margin-left: 20px;}
.clothes_bubble:after {display: none;}


.clothes_phrase{
font-size: 25px;
font-weight: bold;
margin-bottom: 20px;
}
.clothes_t2{
    font-size: 16px;
}
}